<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icones FontAwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- CSS Global -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/globals.css')}}">
    <!-- CSS menu -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
  {% endblock %}
  {% block customHead %}
  
  {% endblock%}
</head>
<body>
  {% block nav %}
    <nav class="container-fluid d-flex align-items-center mt-4 nav-menu">
      <a class="navbar-brand ms-5" href="#">
        <img src="../static/assets/svg/lbd_logo.svg" alt="Logo">
      </a>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-4">
            <a class="nav-link text-white active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link text-white" href="./experience">Experiência</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="./projects">Projetos</a>
          </li>
        </ul>
    </nav>
  {% endblock %}
  {% block content %}
  
  {% endblock content %}
</body>
</html>