<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Icones FontAwesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <!-- CSS Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- JS Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!-- CSS Global -->
  <link rel="stylesheet" href="../static/css/globals.css">
  <!-- CSS menu -->
  <link rel="stylesheet" href="../static/css/menu.css">
  <!-- CSS local -->
  <link rel="stylesheet" href="../static/css/experience.css">

  <title>Experiência</title>
</head>
<body>
  <nav class="container-fluid d-flex align-items-center mt-4 nav-menu">
    <a class="navbar-brand ms-5" href="#">
      <img src="../static/assets/svg/lbd_logo.svg" alt="Logo">
    </a>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-4">
          <a class="nav-link text-white" aria-current="page" href="./index.html">Home</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link text-white active" href="#">Experiência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="./projects.html">Projetos</a>
        </li>
      </ul>
  </nav>
  <div class="container mt-4">
    <div class="experiences-container">
      <div class="experience-item d-flex flex-column align-items-center">
        <div class="d-flex">
          <div class="company-logo-wrapper">
            <div></div>
            <img src="../static/assets/svg/iclouds.svg" alt="Logo">
          </div>
          <div class="experience-description ms-5">
            <h3>iClouds Sistemas Web</h3>
            <p>
              Empresa na qual trabalho atualmente como
              Desenvolvedor Fullstack. Comecei como
              estagiário há quase um ano e recentemente
              fui promovido. Trabalho com a stack React, React Native e NodeJS. Tambḿe utilizo typecript no dia dia. Foi a minha experiencia que pude crescer mais pessoalmente e profissionalmente até o momento, venho me descobrindo como profissional.
            </p>
          </div>
        </div>
        <hr />
      </div>
      <div class="experience-item d-flex flex-column align-items-center mt-3">
        <div class="d-flex">
          <div class="company-logo-wrapper">
            <div></div>
            <img src="../static/assets/svg/mkt.svg" alt="Logo">
          </div>
          <div class="experience-description ms-5">
            <h3>Makertech Labs</h3>
            <p>
              Trabalhei como estagiário. Dava suporte ao e-commerce da empresa,
              gestão dos anúncios no Google ADS e Facebook ADS, criação de logotipos,
              artes para midias sociais e e-commerce.
              Desenvolvimento de uma visão mais critica em relação a design e visão 
              de marketing para divulgação de um e-commerce.
            </p>
          </div>
        </div>
        <hr />
      </div>
      <div class="experience-item d-flex flex-column align-items-center mt-3">
        <div class="d-flex">
          <div class="company-logo-wrapper">
            <div></div>
            <img src="../static/assets/svg/real.svg" alt="Logo">
          </div>
          <div class="experience-description ms-5">
            <h3>Supermercado Real</h3>
            <p>
              Trabalhei como aprendiz auxiliar de escritório, dava suporte nas tarefas
              administrativas, atualização de informações do sistema de gerenciamento
              do mercado criação de comunicados e controle de trocas de produtos.
              Desenvolvimento de habilidades organizacionais e comunicativas. 
            </p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</body>
</html>