{% extends "base.html" %}
{% block customHead %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/experience.css')}}">

  <title>Experiência</title>
{% endblock %}
{% block content %}
  <div class="container mt-4">
    <div class="experiences-container">
      {% for index in data %}
        <div class="experience-item d-flex flex-column align-items-center">
          <div class="d-flex">
            <div class="company-logo-wrapper">
              <div></div>
              <img src="{{url_for('static', filename=data[index]['imageUrl'])}}" alt="Logo">
            </div>
            <div class="experience-description ms-5">
              <h3>{{ data[index]['title'] }}</h3>
              <p>{{ data[index]['textContent'] }}</p>
            </div>
          </div>
          <hr />
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}