{% extends "base.html" %}
{% block customHead %}
  <link rel="stylesheet" href="../static/css/home.css">

  <title>Home</title>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="informations-container d-flex">
      <div class="informations-description">
        <h3>
          {{data["title"]}}
        </h3>
        <p>{{data["textContent"]}}</p>
        <ul class="socials d-flex justify-content-end">
          <li class="me-2">
            <a href="{{data['socialLinks']['github']}}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="me-2">
            <a href="{{data['socialLinks']['linkedin']}}" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="me-2">
            <a href="{{data['socialLinks']['email']}}" target="_blank">
              <i class="far fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="profile-image-wrapper">
        <div></div>
        <div class="profile-picture"></div>
      </div>
    </div>
  </div>
{% endblock %}