{% extends "base.html" %}
{% block customHead %}
  <!-- CSS local -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/projects.css')}}">

  <title>Home</title>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="projects-container d-flex mt-5 position-relative">
      <div class="project-item">
        <div></div>
        <div id="project-image-1" class="project-images"></div>
      </div>
      <div class="project-description d-flex flex-column justify-content-center">
        <h3>TCC Informática para Internet</h3>
        <p>
          Site desenvolvido para uma empresa de
          impressoras 3D. Foi desenvolvido um site 
          responsivo com uma dashboard capaz 
          de ver as informações do gráfico e editar
          informações do site. 
        </p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="projects-container d-flex mt-5 position-relative">
      <div class="project-item">
        <div></div>
        <div id="project-image-2" class="project-images"></div>
      </div>
      <div class="project-description d-flex flex-column justify-content-center">
        <h3>TCC Desenvolvimento de Sistemas</h3>
        <p>
          Site desenvolvido para uma empresa de
          impressoras 3D. Foi desenvolvido um site 
          responsivo com uma dashboard capaz 
          de ver as informações do gráfico e editar
          informações do site. 
        </p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="projects-container d-flex mt-5 position-relative">
      <div class="project-item">
        <div></div>
        <div id="project-image-3" class="project-images"></div>
      </div>
      <div class="project-description d-flex flex-column justify-content-center">
        <h3>API Infatec Fatec SJC</h3>
        <p>
          Projeto que está sendo desenvolvido para a fatec São José dos Campos.
          Um portal  de  informações,  para docentes e discentes, capaz de 
          exibir de forma seletiva e controlada os avisos gerais ou específicos para seus cursos (ex. Divulgação de editais, cursos de extensão, etc.).
        </p>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
{% endblock %}